@charset "utf-8"

.start-page
    height: 100%
    padding-top: 5em
    padding-bottom: 5em
    margin-bottom: 5em

    // Center vertically and horizontally
    text-align: center
    position: relative
    display: flex
    justify-content: center
    align-items: center

.start-wrapper
    width: 60%
    max-width: 500px

.start-title
    font-size: 4em

.start-desc
    font-size: 1.5em
    margin: 2em auto
